 *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* a {
    color: rgb(0, 0, 0)
} 

 a:visited {
    color: blueviolet
}  */

a:hover, a:active {
    color: #97a7b3ff
} 

 table, tr, th, td, caption {
    border: 1px solid darkorange;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

  nav {
  left:0px;
  right:0px;
  width: 100%;
	float: right;
	padding: 0;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
 
    /* li {
    float: left;
  } */
 
   li a {
    text-decoration: none;
    color: black;
  }
  
   /* li a:hover {
    color: #ada3a3;
  }  */

 h1 {
  position: static;
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
}

 .item1 { grid-area: title; }
    .item1 { grid-area: text; }
    .item2 { grid-area: image; }

    
    .grid-container {
      display: grid;
      grid-template-areas:
        'text image'
        'text image';
      gap: 10px;
      padding: 10px;
    }
    
     .grid-container > div {
      text-align: left;
      padding: 20px 0;
      font-size: 30px;
    }
    
    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
    }
    
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    
    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    }