*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 22px;
   
}

body {
    margin: 0;
    padding: 0;
    background-color:rgb(241, 203, 153);
   
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);

}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }

a {
    color: darkblue
}

/* a:visited {
    color: blueviolet
} */

a:hover, a:active {
    color: #97a7b3ff
} 

table, tr, th, td, caption {
    border: 1px solid darkorange;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

nav {
  margin-top: 10px;
  left:0px;
  right:0px;
  width: 100%;
	float: right;
	padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    /* display:inline-block; */
    /* background-color: rgb(4, 4, 4); */
  }
 
  li {
    float: left;
  }

  .right {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #ada3a3;
  }

h1 {
  position: relative;
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
}

.item1 { grid-area: title; }
    .item1 { grid-area: text; }
    .item2 { grid-area: image; }

    
    .grid-container {
      display: grid;
      grid-template-areas:
        'text image'
        'text image';
      gap: 10px;
      background-color: #ffffff;
      padding: 10px;
    }
    
     .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    } 