*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

body {
    margin: 0;
    padding: 0;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);

}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }

a {
    color: darkblue
}

/* a:visited {
    color: blueviolet
} */

a:hover, a:active {
    color: #97a7b3ff
} 

table, tr, th, td, caption {
    border: 1px solid darkorange;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

nav {
  margin:0px auto;
  left:0px;
  right:0px;
  width: 100%;
	float: left;
	padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgb(4, 4, 4);
  }
 
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

h1 {
  position: relative;
  left: 50%;
  padding: 0;
  margin-bottom: 10px;
}

/* CSS HEX
--spring-green: #5efc8dff;
--ice-blue: #8ef9f3ff;
--powder-blue: #93bedfff;
--tropical-indigo: #8377d1ff;
--chinese-violet: #6d5a72ff; */